# Distillation Params
LLM_PROVIDER="openai"
VLLM_BASE_URL=https://xrueq3j9pmlifq-8001.proxy.runpod.net/v1
VLLM_API_KEY=sk-xrueq3j9pmlifq
VLLM_MODEL=Qwen/Qwen3-Next-80B-A3B-Instruct
MAX_DOC_CHARS=40960

# Cloud Dataset Storage | tokenizer | pre train | sft train
# If enabled, checkpoint and all data => uploaded and stored on aws s3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET=
S3_PREFIX=
S3_REGION=