# ══════════════════════════════════════════════════
#  Python
# ══════════════════════════════════════════════════
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
.eggs/

# ══════════════════════════════════════════════════
#  Venv
# ══════════════════════════════════════════════════
.venv/
venv/
env/

# ══════════════════════════════════════════════════
#  IDE
# ══════════════════════════════════════════════════
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# ══════════════════════════════════════════════════
#  Torch / GPU
# ══════════════════════════════════════════════════
*.pt
*.pth
*.bin
*.safetensors
wandb/

# ══════════════════════════════════════════════════
#  Logs & temp
# ══════════════════════════════════════════════════
*.log
.tmp/

# elper guide react:
docs/react/node_modules/
logs

# ══════════════════════════════════════════════════
#  LOCAL INSTALL PACK
# ══════════════════════════════════════════════════
skylar.egg-info

# ENV FILES
.env